<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60000" debug="false">
	<property name="APP_Name" value="osgi_platform" /> 
	<property name="Log_Pattern" value="[%date{ISO8601}][%thread][%20.20t][%-5p][%30.30c]-%m%n" />   
	<property name="File_Pattern" value="./logs/%d{yyyyMMdd}/" />  
	<contextName>${APP_Name}</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
		<encoder>  
			<pattern>${Log_Pattern}</pattern> 
		</encoder>  
	</appender>
	
	<appender name="PropertiesService" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">    
			<fileNamePattern>${File_Pattern}PropertiesService.log</fileNamePattern>    
		</rollingPolicy> 
		
		<!--如果是 true，日志被追加到文件结尾，如果是 false，清空现存文件，默认是true -->
	    <append>true</append>  
	    
	    <!-- 当为true时，不支持FixedWindowRollingPolicy。
	                        支持TimeBasedRollingPolicy，
	                        但是有两个限制，1不支持也不允许文件压缩，2不能设置file属性，必须留空。
	     -->
	    <Prudent>true</Prudent>
	    <encoder><pattern>${Log_Pattern}</pattern></encoder>  
	</appender>
	
	<appender name="c3p0" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">    
			<fileNamePattern>${File_Pattern}c3p0.log</fileNamePattern>    
		</rollingPolicy> 
	    <append>true</append>  
	    <Prudent>true</Prudent>
	    <encoder><pattern>${Log_Pattern}</pattern></encoder>  
	</appender>
	
	<appender name="root" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">    
			<fileNamePattern>${File_Pattern}root.log</fileNamePattern>    
		</rollingPolicy> 
	    <append>true</append>  
	    <Prudent>true</Prudent>
	    <encoder><pattern>${Log_Pattern}</pattern></encoder>  
	</appender>
	
	<appender name="sqlLog" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">    
			<fileNamePattern>${File_Pattern}sqlLog.log</fileNamePattern>    
		</rollingPolicy> 
	    <append>true</append>  
	    <Prudent>true</Prudent>
	    <encoder><pattern>${Log_Pattern}</pattern></encoder>  
	</appender>
   
    <!-- addtivity，默认为true，将此loger的打印信息向上级传递；-->
    <!-- 没有设置appender，此loger本身不打印任何信息 -->
    <logger name="java.sql.Connection" level="DEBUG" additivity="false">
    	<appender-ref ref="sqlLog"/>
		<appender-ref ref="STDOUT"/>
	</logger>
	<logger name="java.sql.Statement" level="DEBUG" additivity="false">
		<appender-ref ref="sqlLog"/>
		<appender-ref ref="STDOUT"/>
	</logger>

	<logger name="java.sql.ResultSet" level="DEBUG" additivity="false">
		<appender-ref ref="sqlLog"/>
		<appender-ref ref="STDOUT"/>
	</logger>
	
	<!-- CP30 -->
	<logger name="com.mchange.v2" level="ERROR" additivity="false">  
		<appender-ref ref="c3p0"/>
		<appender-ref ref="STDOUT"/>
	</logger>
	
	<logger name="com.ferry.propertiesService" level="DEBUG" additivity="false">  
		<appender-ref ref="PropertiesService"/>  
		<appender-ref ref="STDOUT"/>
	</logger>
	
	<!-- trace, debug, info, warn, error -->
	<root level="ERROR">              
		<appender-ref ref="STDOUT" />   
		<appender-ref ref="root" />   
	</root>	
   
   
</configuration>